<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		
		<div class="well">
			<h1>Page Settings</h1>
			<p>From here you can modify the properties of the progress circle on the home page by changing it's size or it's colors.  Then just click <a href="#">Home</a> to see your changes.</p>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label>Circle Size (in pixels)</label>
					<input type="text" class="form-control" ng-model="settings.circleSize" />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label>First Circle Color</label>
					<select class="form-control" ng-model="settings.circleColorA">
						<option value="crimson">Crimson Red</option>
						<option value="orange">Orange</option>
						<option value="darkturquoise">Turquoise</option>
						<option value="forestgreen">Forest Green</option>
						<option value="royalblue">Royal Blue</option>
						<option value="steelblue">Steel Blue</option>
						<option value="rebeccapurple">Rebecca Purple</option>
					</select>
				</div>
				<div class="form-group">
					<label>Second Circle Color</label>
					<select class="form-control" ng-model="settings.circleColorB">
						<option value="crimson">Crimson Red</option>
						<option value="orange">Orange</option>
						<option value="darkturquoise">Turquoise</option>
						<option value="forestgreen">Forest Green</option>
						<option value="royalblue">Royal Blue</option>
						<option value="steelblue">Steel Blue</option>
						<option value="rebeccapurple">Rebecca Purple</option>
					</select>
				</div>
			</div>
		</div>

	</div>

</div>